* {
  margin:0px;
  padding:0px;
}

body{
  background-color: #303030;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  color: whitesmoke;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

h3, h4, h5{
  font-family: Monaco, monospace;
  color: whitesmoke;
  margin: 0 auto;
  width: 300px;
}

.bug{
  font-family:'Courier New', Courier, monospace;
  color: lightgray;
  font-weight: 100;
  font-size: 12px;
  margin: 0 auto;
  width: 200px;
  margin-top: 1rem;
}